*LIST*

Perform Basic List Operations

Given:

my_list = [10, 20, 30, 40, 50]
Perform following operations on given list

Access Elements: Print the third element.
List Length: Print the number of elements in the list
Check if Empty: Write a code to check is list empty.
Expected Output:

Initial list: [10, 20, 30, 40, 50]

Third item:  30
Length of the list: 5
list is not empty

In [3]:
my_list = [10, 20, 30, 40, 50]

#3rd element
print(my_list[2])
#len of list 
print(len(my_list))
if len(my_list)==0:
    print("list is empty")
else:
    print("list is not empty")

30
5
list is not empty

Perform List Manipulation
Given:

my_list = [10, 20, 30, 40, 50]
Perform following list manipulation operations on given list

Change Element: Change the second element of a list to 200 and print the updated list.
Append Element: Add 600 o the end of a list and print the new list.
Insert Element: Insert 300 at the third position (index 2) of a list and print the result.
Remove Element (by value): Remove 600 from the list and print the list.
Remove Element (by index): Remove the element at index 0 from the list print the list.

Expected Output:

Initial list: [10, 20, 30, 40, 50]

After changing second element: [10, 200, 30, 40, 50]
List after appending 600: [10, 200, 30, 40, 50, 600]
List after inserting 300 at index 2: [10, 200, 300, 30, 40, 50, 600]
List after removing 600 (by value): [10, 200, 300, 30, 40, 50]
List after removing element at index 0: [200, 300, 30, 40, 50]

In [4]:
my_list = [10, 20, 30, 40, 50]
my_list[1]=200
print(my_list)
my_list.append(600)
print(my_list)
my_list.insert(2,300)
print(my_list)
my_list.remove(600)
print(my_list)
my_list.pop(0)
print(my_list)

[10, 200, 30, 40, 50]
[10, 200, 30, 40, 50, 600]
[10, 200, 300, 30, 40, 50, 600]
[10, 200, 300, 30, 40, 50]
[200, 300, 30, 40, 50]

Calculate and print the sum and average of all numbers in a list.

Given:

my_list = [10, 20, 30, 40, 50]
Expected Output:

Sum: 150
Average: 30.0

In [5]:
my_list = [10, 20, 30, 40, 50]
print("Sum : ",sum(my_list))
print("Average : ", sum(my_list)/len(my_list))

Sum :  150
Average :  30.0

Reverse a list
Given:


list1 = [100, 200, 300, 400, 500]
Expected output:

[500, 400, 300, 200, 100]

In [6]:
list1 = [100, 200, 300, 400, 500]
print(list1[::-1])

[500, 400, 300, 200, 100]

Turn every item of a list into its square
Given a list of numbers. write a program to turn every item of a list into its square.

Given:

numbers = [1, 2, 3, 4, 5, 6, 7]
Expected output:

[1, 4, 9, 16, 25, 36, 49]

In [7]:
numbers = [1, 2, 3, 4, 5, 6, 7]

def squr(num):
    return num*num
ls= list(map(squr,numbers))
print(ls)

[1, 4, 9, 16, 25, 36, 49]

Find and print the largest and smallest number in a list [8, 2, 15, 1, 9].

Given:

data = [8, 2, 15, 1, 9]

Expected Output:

Largest number: 15
Smallest number: 1

In [8]:
data = [8, 2, 15, 1, 9]

print("Largest number: ",max(data))
print("Smallest number: ",min(data))

Largest number:  15
Smallest number:  1

Count and print how many times 'Football' appears in list.

Given:

sports = ['Cricket', 'Football', 'Hockey', 'Football', 'Tennis'].

In [9]:
sports = ['Cricket', 'Football', 'Hockey', 'Football', 'Tennis']

print(sports.count("Football"))

2

Sort a given list of numbers in ascending order and print it.

Given: numbers = [5, 2, 8, 1, 9]

Expected Output:

Original list: [5, 2, 8, 1, 9]
Sorted list: [1, 2, 5, 8, 9]

In [11]:
numbers = [5, 2, 8, 1, 9]
print(sorted(numbers))

[1, 2, 5, 8, 9]

Create a copy of a list [10, 20, 30] and modify the copy. Print both the original and the copied list to demonstrate they are independent.

In [14]:
my_list = [10, 20, 30]
new_list=my_list.copy()
new_list.append(100)
print(my_list)
print(new_list)

[10, 20, 30]
[10, 20, 30, 100]

Combine given two lists into a single list and print it.

Given:

list_a = [1, 2]
list_b = [3, 4]

Expected Output:

[1, 2, 3, 4]

In [15]:
list_a = [1, 2]
list_b = [3, 4]

list_a=list_a+list_b
print(list_a)

[1, 2, 3, 4]

Remove empty strings from the list of strings
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

Expected output:

["Mike", "Emma", "Kelly", "Brad"]

In [17]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
while "" in list1:
    list1.remove("")
print(list1)

['Mike', 'Emma', 'Kelly', 'Brad']

Write a function that takes a list with duplicate elements and returns a new list with only unique elements.

Given: list_with_duplicates = [1, 2, 2, 3, 1, 4, 5, 4]

Expected Output:

[1, 2, 3, 4, 5]

In [18]:
def removeDups(lst):
    return(list(set(lst)))
removeDups([1, 2, 2, 3, 1, 4, 5, 4])

[1, 2, 3, 4, 5]

Use list comprehension to create a new list containing only the numbers from a given list.

Given:

my_list = [1, 2, 3, 'Jessa', 4, 5, 'Kelly', 'Jhon', 6]
Expected Output:

[1, 2, 3, 4, 5, 6]

In [26]:
my_list = [1, 2, 3, 'Jessa', 4, 5, 'Kelly', 'Jhon', 6]

ls= [ i for i in my_list if type(i) in [float,int]]
print(ls)

[1, 2, 3, 4, 5, 6]

Given a nested list, print the element '55'.

Given:

nested_list = [[10, 20, 30], [44, 55, 66], [77, 87, 99]]

In [27]:
nested_list = [[10, 20, 30], [44, 55, 66], [77, 87, 99]]
print(nested_list[1][1])

55

Write a function to flatten a list of lists into a single, non-nested list. (e.g., [[1, 2], [3, 4]] becomes [1, 2, 3, 4]).

Given:

list_of_lists = [[1, 2], [3, 4], [5, 6, 7]]
Expected Output:

[1, 2, 3, 4, 5, 6, 7]

In [2]:
'''
list_of_lists = [[1, 2], [3, 4], [5, 6, 7]]
ls=[]

def iterateOver(ls):
    for i in ls:
        if isinstance(i,list):
            iterateOver(i) # Recursive call
        else:
            ls.append(i)
    
iterateOver(list_of_lists)
print(ls)


list_of_lists = [[1, 2], [3, 4], [5, 6, 7]]
flattened = []

def iterate_over(data):
    for i in data:
        if isinstance(i, list):
            iterate_over(i) # Recursive call
        else:
            flattened.append(i) # Append to the global result list

iterate_over(list_of_lists)
print(flattened) # Output: [1, 2, 3, 4, 5, 6, 7]'''

list_of_lists = [[1, 2], [3, 4], [5, 6, 7]]
lst=[]

def iterateOver(ls):
    for i in ls:
        if isinstance(i,list):
            iterateOver(i) # Recursive call
        else:
            lst.append(i)
    
iterateOver(list_of_lists)
print(lst)

[1, 2, 3, 4, 5, 6, 7]

In [4]:
'''approach 2 - clean code'''
list_of_lists = [[1, 2], [3, 4], [5, 6, 7]]
flat = [item for sublist in list_of_lists for item in sublist]
print(flat)

[1, 2, 3, 4, 5, 6, 7]

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

Given:

list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
Expected output:

['My', 'name', 'is', 'Kelly']

In [5]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
ls=[]
for i in range(len(list1)):
    ls.append(list1[i]+list2[i])
print(ls)

['My', 'name', 'is', 'Kelly']

Concatenate two lists in the following order:

list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
Expected output:

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [7]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
ls=[x+y for x in list1 for y in list2]
print(ls)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

Given a two Python list. Write a program to iterate both lists simultaneously and display items from list1 in original order and items from list2 in reverse order.

Given

list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
Expected output:

10 400
20 300
30 200
40 100

In [10]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for x,y in zip(list1,list2[::-1]):
    print(x,y)

10 400
20 300
30 200
40 100

***Dictionary***

Given:

my_dict = {'name': 'Alice', 'age': 35, 'city': 'New York'}
Perform following operations on given dictionary

Add New Key-Value Pair: Add a new key-value pair, 'profession': 'Doctor', to the dictionary and print the updated dictionary.
Modify Value: Change the value of the age key to 40 in the dictionary and print the updated dictionary.
Access Key: Print the value associated with the city key.

Expected Output:

Original dictionary: {'name': 'Alice', 'age': 35, 'city': 'New York'}

Updated dictionary after adding 'profession': {'name': 'Alice', 'age': 35, 'city': 'New York', 'profession': 'Doctor'}

Updated dictionary after modification: {'name': 'Alice', 'age': 40, 'city': 'New York', 'profession': 'Doctor'}

City: New York

In [12]:
my_dict = {'name': 'Alice', 'age': 35, 'city': 'New York'}
my_dict['profession']="Doctor"
print(my_dict)
my_dict['age']=40
print(my_dict)

print(my_dict['city'])

{'name': 'Alice', 'age': 35, 'city': 'New York', 'profession': 'Doctor'}
{'name': 'Alice', 'age': 40, 'city': 'New York', 'profession': 'Doctor'}
New York

my_dict = {'name': 'Alice', 'age': 35, 'city': 'New York', 'profession': 'Doctor'}

Perform following operations on given dictionary

Remove Key-Value Pair : Remove the profession key-value pair from the dictionary.
Get Items (Key-Value Pairs): Print all key-value pairs (items) in the dictionary.
Check if Key Exists in the dictionary

In [21]:
my_dict = {'name': 'Alice', 'age': 35, 'city': 'New York', 'profession': 'Doctor'}
my_dict.pop('profession')

for i in my_dict:
    print (i , my_dict[i])

'age' in my_dict

name Alice
age 35
city New York

True

Write a Python program to convert two Python lists into a dictionary where elements from the first list become keys and elements from the second list become values.

keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
Expected output:

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [23]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

my_dict={}
for i in range(len(keys)):
    my_dict[keys[i]] = values[i]
my_dict

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [24]:
print(dict(zip(keys,values)))

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

Clear all key-value pairs from a given dictionary and print it.

Given:

my_dict = {'name': 'Alice', 'age': 35, 'city': 'New York'}
Expected Output:

{}

In [26]:
my_dict = {'name': 'Alice', 'age': 35, 'city': 'New York'}
my_dict.clear()
print(my_dict)

{}

Write a code to merge two dictionaries into a new dictionary and print it.

Given:

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
Expected output:

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [27]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

for i in dict1:
    dict2[i]=dict1[i]
print(dict2)

{'Thirty': 30, 'Fourty': 40, 'Fifty': 50, 'Ten': 10, 'Twenty': 20}

Given a string, create a dictionary where keys are characters and values are their frequencies in the string.

Given:

string1 = 'Jessa'
Expected Output:

Frequencies for 'Jessa': {'J': 1, 'e': 1, 's': 2, 'a': 1}

In [28]:
def count_char_frequencies(input_string):
  frequency_dict = {}
  for char in input_string:
    # Use get() method: if char is in dict, get its value; otherwise, default to 0
    frequency_dict[char] = frequency_dict.get(char, 0) + 1
  return frequency_dict

string1 = 'Jessa'
print(f"Frequencies for '{string1}': {count_char_frequencies(string1)}")

Frequencies for 'Jessa': {'J': 1, 'e': 1, 's': 2, 'a': 1}

Given a nested dictionary {'person': {'name': 'Alice', 'age': 30}}, print Alice’s age.

Given:

data = {'person': {'name': 'Alice', 'age': 30}}
Expected Output:

Alice's age is: 30

In [35]:
data = {'person': {'name': 'Alice', 'age': 30}}

print("Alice's age is: {}".format(data.get("person").get('age')))

Alice's age is: 30

Print the value of key ‘history’ from nested dict

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [36]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
print(sampleDict['class']['student']['marks']['history'])

80

In Python, we can initialize the keys with the same values.

Given:

employees = ['Kelly', 'Emma']

defaults = {"designation": 'Developer', "salary": 8000}

Expected output:

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [40]:
employees = ['Kelly', 'Emma']

defaults = {"designation": 'Developer', "salary": 8000}
{x : defaults for x in employees}

{'Kelly': {'designation': 'Developer', 'salary': 8000},
 'Emma': {'designation': 'Developer', 'salary': 8000}}

Write a Python program to create a new dictionary by extracting the mentioned keys from the below dictionary.

Given dictionary:

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]
Expected output:

{'name': 'Kelly', 'salary': 8000}

In [42]:
sampleDict = { 
  "name": "Kelly",
  "age":25, 
  "salary": 8000, 
  "city": "New york" }

keys = ["name", "salary"]

newDict = {k: sampleDict[k] for k in keys}
print(newDict)

{'name': 'Kelly', 'salary': 8000}

Write a Python program to change Brad’s salary to 8500 in the following dictionary.

Given:

sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

Expected output:

{
   'emp1': {'name': 'Jhon', 'salary': 7500},
   'emp2': {'name': 'Emma', 'salary': 8000},
   'emp3': {'name': 'Brad', 'salary': 8500}
}

In [44]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

sample_dict['emp3'].update({"salary":8500})

sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

Write a code to swap keys and values in a dictionary. Assume all values are unique

Given:

original_dict1 = {'a': 1, 'b': 2, 'c': 3}
Expected Output:

Original dictionary 1: {'a': 1, 'b': 2, 'c': 3}
Inverted dictionary 1: {1: 'a', 2: 'b', 3: 'c'}

In [46]:
original_dict1 = {'a': 1, 'b': 2, 'c': 3}
new_dict={}

for i,j in original_dict1.items():
    new_dict[j]=i
print(new_dict)

{1: 'a', 2: 'b', 3: 'c'}

Sort a dictionary by its keys and print the sorted dictionary (as an OrderedDict or by converting to a list of tuples).

Given:

my_dict = {'apple': 3, 'zebra': 1, 'banana': 2, 'cat': 4}

Expected Output:

Original dictionary: {'apple': 3, 'zebra': 1, 'banana': 2, 'cat': 4}

Sorted by keys (as OrderedDict):
OrderedDict([('apple', 3), ('banana', 2), ('cat', 4), ('zebra', 1)])

In [51]:

my_dict = {'apple': 3, 'zebra': 1, 'banana': 2, 'cat': 4}
keys=sorted(my_dict)
sorted_dict={}
for i in keys:
    sorted_dict[i]=my_dict[i]
print(sorted_dict)

from collections import OrderedDict
sorted_by_key_ordered_dict = OrderedDict(sorted(my_dict.items()))
print(sorted_by_key_ordered_dict)

{'apple': 3, 'banana': 2, 'cat': 4, 'zebra': 1}
OrderedDict({'apple': 3, 'banana': 2, 'cat': 4, 'zebra': 1})

Sort a dictionary by its values and print the sorted dictionary (as an OrderedDict or by converting to a list of tuples).

Given:

my_dict = {'Jessa': 3, 'Kelly': 1, 'Jon': 2, 'Kerry': 4, 'Joy': 1}
Expected Output:

Original dictionary: {'Jessa': 3, 'Kelly': 1, 'Jon': 2, 'Kerry': 4, 'Joy': 1}

Sorted by values (as OrderedDict):
OrderedDict([('Jessa', 3), ('Kelly', 1), ('Jon', 2), ('Kerry', 4), ('Joy', 1)])

In [56]:
my_dict = {'Jessa': 3, 'Kelly': 1, 'Jon': 2, 'Kerry': 4, 'Joy': 1}

print(my_dict.values())
from collections import OrderedDict
OrderedDict(my_dict)
# keys=sorted(my_dict.values)
# sorted_dict={}
# for i in keys:
#     sorted_dict[i]=my_dict[i]
# print(sorted_dict)

dict_values([3, 1, 2, 4, 1])

OrderedDict([('Jessa', 3), ('Kelly', 1), ('Jon', 2), ('Kerry', 4), ('Joy', 1)])

Write a function that takes a dictionary and returns True if all values in the dictionary are unique, False otherwise.

Given:

dict1 = {'a': 1, 'b': 2, 'c': 3}             # All values unique
dict2 = {'x': 10, 'y': 20, 'z': 10}          # Value 10 is duplicated
dict3 = {} # Empty dictionary (all values are vacuously unique)
Expected Output:

Dictionary: {'a': 1, 'b': 2, 'c': 3} -> All values unique? True
Dictionary: {'x': 10, 'y': 20, 'z': 10} -> All values unique? False
Dictionary: {} -> All values unique? True

In [57]:
def are_all_values_unique(input_dict):
  # Get all values from the dictionary
  all_values = list(input_dict.values())

  # Convert the list of values to a set to get only unique values
  unique_values_set = set(all_values)

  # If the length of the original values list is equal to the length of the unique values set,
  # it means all values were unique.
  return len(all_values) == len(unique_values_set)

# Test cases
dict1 = {'a': 1, 'b': 2, 'c': 3}             # All values unique
dict2 = {'x': 10, 'y': 20, 'z': 10}          # Value 10 is duplicated
dict3 = {} # Empty dictionary (all values are vacuously unique)

print(f"Dictionary: {dict1} -> All values unique? {are_all_values_unique(dict1)}")
print(f"Dictionary: {dict2} -> All values unique? {are_all_values_unique(dict2)}")
print(f"Dictionary: {dict3} -> All values unique? {are_all_values_unique(dict3)}")

Dictionary: {'a': 1, 'b': 2, 'c': 3} -> All values unique? True
Dictionary: {'x': 10, 'y': 20, 'z': 10} -> All values unique? False
Dictionary: {} -> All values unique? True

***Tuples***

Perform Basic Tuple Operations
Create a Tuple: Create a tuple named my_tuple containing the numbers 1, 2, 3, 4, and 5.
Access Elements: Access and print the third element of my_tuple.
Tuple Length: Find and print the length of my_tuple.
Expected Output:

My tuple: (1, 2, 3, 4, 5)
The third element of my_tuple: 3
The length of my_tuple: 5

In [ ]:
my_tuple = (1,2,3,4,5)
print(my_tuple)
print(my_tuple[2])
len(my_tuple)
tuple

(1, 2, 3, 4, 5)
3

5

Repeat a below tuple three times.

Given:

original_tuple = ('a', 'b')
Expected Output:

('a', 'b', 'a', 'b', 'a', 'b')

In [65]:
original_tuple = ('a', 'b')
original_tuple*3

('a', 'b', 'a', 'b', 'a', 'b')

Compare two tuples and find out which one is “greater” and why?

Given:

t1 = (1, 2, 3)
t2 = (1, 2, 4)
Expected Output:

Tuple 1: (1, 2, 3, 8)
Tuple 2: (1, 2, 4, 5)
(1, 2, 3, 8) is less than (1, 2, 4, 5)

In [70]:
t1 = (1, 2, 3)
t2 = (1, 2, 4)
if t1>t2:
    print("t1 is greater")
elif t1<t2:
    print("t2 is greater")
else:
    print("equal")

t2 is greater

Write a code to create a new tuple with only unique elements.

Given:

my_tuple = (1, 2, 2, 3, 4, 4, 5)
Expected Output:

Original tuple with duplicates: (1, 2, 2, 3, 4, 4, 5)
Tuple with unique elements: (1, 2, 3, 4, 5)

In [72]:
my_tuple = (1, 2, 2, 3, 4, 4, 5)
newtuple=tuple(set(my_tuple))
newtuple

(1, 2, 3, 4, 5)

Write a code to filter out students with scores less than 90 from a given a list of tuples.

Given:

students = [('Alice', 85), ('Bob', 92), ('Charlie', 78)]
Expected Output:

Students with scores 90 or above: [('Bob', 92), ('David', 95)]

In [80]:
students = [('Alice', 85), ('Bob', 92), ('Charlie', 78)]

result=[(x,y) for x,y in students if y>90]
result

[('Bob', 92)]

Sort a tuple of tuples by 2nd item
Given:

tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))
Expected output:

(Sorted tuple by 2nd item: (('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [88]:
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))
list1 = list(tuple1)
sorted_list = sorted(list1, key= lambda x:x[1])
sorted_list

[('c', 11), ('a', 23), ('d', 29), ('b', 37)]

Write a code to counts the number of occurrences of item 50 from a tuple.

Given:

tuple1 = (50, 10, 60, 70, 50)

In [89]:
tuple1 = (50, 10, 60, 70, 50)
tuple1.count(50)

2

Check if all items in the tuple are the same
tuple1 = (45, 45, 45, 45)

In [91]:
tuple1 = (45, 46, 45, 45)

if len(tuple1)==tuple1.count(tuple1[0]):
    print(True)
else:
    print(False)

False

***SETS***

Perform Basic Set Operations
Create a Set: Create a set named fruits containing “apple”, “banana”, “mango”, and “orange”.
Add Element: Add “grape” to the fruits set.
Remove Element: Remove “banana” from the fruits set.
Discard Element: Try to discard “mango” from the fruits set.

Expected Output:

1. After creating the set: {'apple', 'orange', 'mango', 'banana'}
2. After adding 'grape': {'orange', 'banana', 'grape', 'apple', 'mango'}
3. After removing 'banana': {'orange', 'grape', 'apple', 'mango'}
4. After discarding 'mango': {'orange', 'grape', 'apple'}

In [96]:
x={'apple', 'orange', 'mango', 'banana'}
print(x)
x.add("grape")
print(x)
x.remove("banana")
print(x)
x.discard("mango")
print(x)

{'orange', 'mango', 'banana', 'apple'}
{'banana', 'apple', 'mango', 'grape', 'orange'}
{'apple', 'mango', 'grape', 'orange'}
{'apple', 'grape', 'orange'}

Find the union of set1 and set2. Write a Python program to return a new set with unique items from both sets by removing duplicates.

Given:

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
Expected Output:

{70, 40, 10, 50, 20, 60, 30}

In [97]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1 | set2

{10, 20, 30, 40, 50, 60, 70}

Find the intersection of set1 and set2. Write a code to return a new set containing only the elements that are common to both set1 and set2

Given:

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [98]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1 & set2

{30, 40, 50}

Find the difference (set1 - set2). Write a code to returns a new set containing elements that are present in set1 but not in set2.

Given:

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
Expected Output:

{10, 20}

In [99]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1-set2

{10, 20}

Symmetric Difference
Find the symmetric difference of set1 and set2. Write a code to returns a new set containing elements that are unique to either set1 or set2, but not in both. It’s like finding the union and then removing the intersection.

Given:

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

Expected Output:

{20, 70, 10, 60}

In [100]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
symmetric_difference_set = set1.symmetric_difference(set2)
print("Symmetric Difference:", symmetric_difference_set)

Symmetric Difference: {20, 70, 10, 60}

Given a Python list, write a program to add all of its elements into a given set.

Given:

sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]
Expected output:

Note: Set is unordered.

{'Green', 'Yellow', 'Black', 'Orange', 'Red', 'Blue'}

In [103]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]

sample_set.update(sample_list)
print(sample_set)

{'Blue', 'Black', 'Green', 'Yellow', 'Red', 'Orange'}

Given two Python sets, write a program to update the first set with only the items that are unique to it (i.e., not present in the second set).

Given:


set1 = {10, 20, 30}
set2 = {20, 40, 50}
Expected output:

set1 {10, 30}

In [105]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1.difference_update(set2)
set1

{10, 30}

Write a Python program to remove items 10, 20, 30 from the following set at once.

Given:

set1 = {10, 20, 30, 40, 50}
Expected output:

{40, 50}

In [107]:
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10, 20, 30})

Check if set1 is a subset of set2. Write a code to return True if every element in the subset_set is also present in the main_set.

Given:


subset_set = {10, 20}
main_set = {10, 20, 30, 40}
Expected Output:

True

In [ ]:
subset_set = {10, 20}
main_set = {10, 20, 30, 40}

subset_set.issubset(main_set)
main_set.issuperset(subset_set)

True

Write a code to check if two sets have any elements in common. If yes, display the common elements


Given:

set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}
Expected output:

Two sets have items in common
{10}

In [109]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

set1 & set2

{10}